<!DOCTYPE html>
<html lang="en">
<style>
    .main_text {
      text-align: center;
      padding-top: 200px;
    }
    .one_time_code {
      font-size: 2rem;
    }
    .header {
      font-size: 1.5rem;
    }
</style>
<body>
    <div class="main_text">
        <p class="header">Ваш одноразовый код для сервиса Shoplist:</p>
        <p class="headline_note">Код действует 5 минут.</p>
        <p class="one_time_code">{{ one_time_code }}</p>
        <p class="comment">Если вы не запрашивали одноразовый код, проигнорируйте это сообщение.</p>
    </div>
</body>
</html>